:root {
    --site-purple: #552988;
    --site-green: #6db43e;
    --site-yellow: #ffc425;
    --site-red: #E61e3b;
    --site-black: #0A090B;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
  }

  h1, h2 {
    font-family: 'boogaloo', sans-serif;
    color: var(--site-red);
  }

  h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: var(--site-purple)
  }

  p {
    font-size: 1.2rem;
    color: var(--site-black)
  }

  .button {
    font-family: 'Boogaloo';
    font-size: 2rem;
    color: var(--site-black);
    background-color: var(--site-green);
    padding: 4px 51px;
    border: none;
    border-radius: 13px;
}

.button:hover {
  text-decoration: underline;
  background-color: var(--site-yellow)
}

.button:active {
  color: white;
  background-color: var(--site-green);
}

.links {
  font-family: 'Roboto';
  color: #6db43e;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
  color: var(--site-purple);
}