/********** SITE RESET STYLING STARTS ***************/

* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display:block;
}

:root {
    --site-purple: #552988;
    --site-green: #6db43e;
    --site-yellow: #ffc425;
    --site-red: #E61e3b;
    --site-black: #0A090B;
  }
  



  /********** GLOBAL STYLING STARTS ***************

  Google fonts
  font-family: 'Boogaloo', cursive;
  font-family: 'Roboto Condensed', sans-serif;
  */

  body {
    font-family: 'Roboto Condensed', sans-serif;
    min-height: 100vh;
  }

  h1, h2 {
    font-family: 'boogaloo', sans-serif;
    color: var(--site-red);
  }

  h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--site-purple)
  }

  p {
    font-size: 1.2rem;
    color: var(--site-black);
    margin: 15px 0px;
  }

  a {
    text-decoration: none;
  }
  
  .logo {
    display: none;
  }




/********** MOBILE NAV CSS STARTS ***************/

.burger-nav {
background-color: var(--site-purple);
}

.desktop-nav {
  display: none;
}

#hamburger-current {
font-weight: bold;
color: var(--site-green);
}

.hamburger-ul {
  text-align: center;
  height: 0;
  margin-bottom: 30px;
  overflow: hidden;
  transition-duration: 0.6s;
  position: absolute;
  width: 100%;
  background: var(--site-purple);
}

.ham-li {
  margin: 37px;
  list-style: none;
}

.ham-links {
  color: #ffffff;
  font-weight: bold;
  font-size: 1.2rem;
  list-style: none;
  margin: 26px;
  padding-bottom: 24px;
}

.ham-links:hover {
  color: var(--site-green);
}

.bun {
  width: 34px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--site-green);
  margin: 5px auto 5px auto;
  padding: 2px;
}

.wrapper {
  padding: 14px;
  background: #552988;
  height: 46px;
  transition-duration: 1s;
  box-shadow: 0px 5px 4px #55298852;
}

.bun-box {
  float: right;
  margin-right: 10px;
  position: absolute;
  right: 15px;
  cursor: pointer;
}

.change {
  height: 300px;
  padding: 27px 0;
  transition-duration: 0.7s;
}

.darkerpurple {
  background-color: #402064;
  transition-duration: 1s;
}

.bun.cross {
  width: 34px;
  height: 3px;
  border-radius: 3px;
  background-color: var(--site-green);
  margin: 10px -4px -16px 5px;
  padding: 2px;
}

.bun-box.cross .bun-1 {
  opacity: 0;
}

.bun-box.cross .bun-2 {
  transform: rotate(-45deg);
    margin: 7px 0 -23px 0px;
}

.bun-box.cross .bun-3 {
  transform: rotate(45deg);
  margin-top: 17px;
}




/********** BUTTON STYLING STARTS ***************/

.button {
  font-family: 'Boogaloo';
  font-size: 2rem;
  color: var(--site-black);
  background-color: var(--site-green);
  padding: 4px 51px;
  border: none;
  border-radius: 13px;
}

.button:hover {
  text-decoration: underline;
  background-color: var(--site-yellow)
}

.button:active {
  color: white;
  background-color: var(--site-green);
}




/********** LINKS STYLING STARTS ***************/

.links {
  font-family: 'Roboto Condensed', sans-serif;
  color: #6db43e;
  text-decoration: none;
}

.links:hover {
  text-decoration: underline;
  color: var(--site-purple);
}

/************HOME PAGE STYLING STARTS*************/

img.home-header {
  width: 100%;
}

.home {
  background-color: rgba(107, 85, 137, 0.75);
}

.home-p {
  text-align: center;
  color: white;
  font-size: 1.2rem;
}

.home-h2 {
  color: white;
  font-size: 2rem;
  font-weight: 300;
}

.icon-section {
  display: flex;
  justify-content: space-around;
  padding-top: 3%;
  padding-bottom: 3%;
}

.home-content {
  padding: 7%;
  border-top-style: solid;
  border-top-color: white;
}

/************ABOUT PAGE STYLING STARTS*************/

img.about-header {
  width: 100%;
}

.about-info {
  width: 90%;
  margin: 15px auto;
}

h1.about-h1 {
  margin: 20px auto;
  font-size: 1.6rem;
  text-align: center;
}

h2.about-h2 {
  color: var(--site-purple);
  font-family: 'Roboto Condensed';
  font-size: 1.1rem;
}

.story-icon {
  width: 30%;
  max-width: 96px;
  display: block;
  padding: 0 auto 72px auto;
  margin: 0 auto 12px auto;
}

.p-content {
  color: var(--site-purple);
}

 /*ACCORDION STYLING*/

 .accordion {
  margin-bottom: 100px;
}

 #hide {
  display: none;
}

.show {
  display: block;
  transition-delay: 1s;
}

.accheading {
  cursor: pointer;
}

.content {
  overflow: hidden;
  padding: 32px;
  width: 74%;
  border-radius: 0 0 13px 13px;
  margin: 0 auto;
  max-width: 700px;
  height: 200px;
  background: #e9e9e9;
  box-shadow: 2px 5px 7px 0px #00000061;
  overflow-y: auto;
  overflow-x: hidden;
}

.accheading {
  font-size: 2rem;
  font-weight: normal;
  cursor: pointer;
  background: var(--site-green);
  margin-bottom: 3px;
  box-shadow: 0px 4px 6px #0000004f;
  color: white;
  padding: 12px 34px;
  margin: 22px auto 0;
  border-radius: 12px;
  width: 78%;
  max-width: 750px;
  text-align: center;
}

.accheading:after {
  content:"▶";
  float: right;
}

.active:after {
  content:"▼";
  float: right;
}

/********** MIN-WIDTH 450PX MEDIA QUERY BEGINS ***************/

/********** ABOUT PAGE QUERY********/

@media (min-width: 450px) {

  /*about page*/
  h1.about-h1 {
    font-size: 2rem;
  }

  /*contact page */
  .contact-header {
    width: 100%;
  }

  input, select, textarea {
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
  }

  h1, h2 {
    text-align: center;
  }

  .contact-text {
    padding: 0 3%;
    text-align: center;
  }

  form {
    padding: 0 4%;
  }

  input {
    font-family: 'Roboto Condensed';
    width: 60%;
  }

  .submit {
    padding: 2%;
    width: 125px;
  }

}



/********** MIN-WIDTH 900PX MEDIA QUERY BEGINS ***************/

@media (min-width: 900px) {

  .desktop-nav {
    display: block;
  }

  .desk-li {
    text-align: center;
  }

  .wrapper {
    display: none;
  }

  header {
    background: var(--site-purple);
    min-width: 240px;
    width: 20%;
    padding: 0 20px;
  }

  .logo {
    display: block;
    margin: 40px auto;
  }

  body {
    display: flex;
    max-width: 2500px;
  }

  main {
    width: 80%;
  }

  .desk-li {
    margin: 15px;
    list-style: none;
  }
  
  .desk-links {
    color: #ffffff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;
    list-style: none;
    margin: 26px;
    padding-bottom: 24px;
  }
  
  .desk-links:hover {
    color: var(--site-green);
  }

  /* contact page */

  h2 {
    text-align: left;
  }

  .contact-text {
    padding: 0 3%;
    text-align: left;
  }

}


  /********** ABOUT DESKTOP STYLING BEGINS ***************/

  .about-header {
    width: 100%;
  }

  h1.about-h1 {
    text-align: center;
    margin: 20px;
    font-size: 2.4rem;
  }

  .about-info {
    margin: 36px auto;
    width: 85%;
    max-width: 1000px;
  }

  p.about-p {
    margin: 15px 0;
  }

  .bold {
    font-weight: bold;
  }

  .story-icon {
    width: 17%;
  }


  /********** HELP US DESKTOP STYLING ***************/

.help-title {
  text-align: center;
  margin: 20px;
  font-size: 2.4rem;
}

.help-head {
  margin: 36px auto;
  width: 85%;
  max-width: 1000px;
}

.image-grid {
  position: absolute;
  width: 250px;
  height: 250px;
  background: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all .08s ease;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: yellow;
  color: var(--site-black);
  text-align: center;
}

.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: purple;
  color: white;
  text-align: center;
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(180deg);
}